<section class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-li">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/garmin-fenix-7x.png    1x,
                  /images/catalog/garmin-fenix-7x-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/garmin-fenix-7x.png    1x,
                  /images/catalog/garmin-fenix-7x-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/garmin-fenix-7x.png    1x,
                  /images/catalog/garmin-fenix-7x-2x.png 2x
                "
              />
              <img
                src="/images/catalog/garmin-fenix-7x.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">Garmin Fenix 7X Pro Sapphire Solar</p>
            <p class="catalog-text-price">€500</p>
          </div>
        </div>
      </li>

      <li class="catalog-li">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/garmin-marq.png    1x,
                  /images/catalog/garmin-marq-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/garmin-marq.png    1x,
                  /images/catalog/garmin-marq-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/garmin-marq.png    1x,
                  /images/catalog/garmin-marq-2x.png 2x
                "
              />
              <img
                src="/images/catalog/garmin-marq.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">Garmin Marq Athlete</p>
            <p class="catalog-text-price">€450</p>
          </div>
        </div>
      </li>
      <li class="catalog-li">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/garmin-descent.png    1x,
                  /images/catalog/garmin-descent-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/garmin-descent.png    1x,
                  /images/catalog/garmin-descent-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/garmin-descent.png    1x,
                  /images/catalog/garmin-descent-2x.png 2x
                "
              />
              <img
                src="/images/catalog/garmin-descent.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">Garmin Descent MK1</p>
            <p class="catalog-text-price">€680</p>
          </div>
        </div>
      </li>

      <li class="catalog-li">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/garmin-d2.png    1x,
                  /images/catalog/garmin-d2-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/garmin-d2.png    1x,
                  /images/catalog/garmin-d2-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/garmin-d2.png    1x,
                  /images/catalog/garmin-d2-2x.png 2x
                "
              />
              <img
                src="/images/catalog/garmin-d2.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">Garmin D2 Delta PX</p>
            <p class="catalog-text-price">€380</p>
          </div>
        </div>
      </li>
      <li class="catalog-li catalog-li-mobile">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/garmin-fenix-6.png    1x,
                  /images/catalog/garmin-fenix-6-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/garmin-fenix-6.png    1x,
                  /images/catalog/garmin-fenix-6-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/garmin-fenix-6.png    1x,
                  /images/catalog/garmin-fenix-6-2x.png 2x
                "
              />
              <img
                src="/images/catalog/garmin-fenix-6.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">Garmin Fenix 6 Pro Solar</p>
            <p class="catalog-text-price">€400</p>
          </div>
        </div>
      </li>

      <li class="catalog-li catalog-li-mobile">
        <div class="catalog-top">
          <div class="catalog-photo">
            <picture class="catalog-pic">
              <source
                media="(min-width: 1158px)"
                srcset="
                  /images/catalog/tube-watch-s42.png    1x,
                  /images/catalog/tube-watch-s42-2x.png 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /images/catalog/tube-watch-s42.png    1x,
                  /images/catalog/tube-watch-s42-2x.png 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /images/catalog/tube-watch-s42.png    1x,
                  /images/catalog/tube-watch-s42-2x.png 2x
                "
              />
              <img
                src="/images/catalog/tube-watch-s42.png"
                width="292"
                height="292"
              />
            </picture>
          </div>
          <div class="catalog-text">
            <p class="catalog-text-name">
              Tube Watch S42 Date Steel With Black Case
            </p>
            <p class="catalog-text-price">€395</p>
          </div>
        </div>
      </li>
    </ul>
    <button class="catalog-btn">Show more</button>
  </div>
</section>
