<section class="portfolio">
            <div class="container">
                <h2 class="portfolio-title">Catalog</h2>
                <ul class="portfolio-list">
                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/banking.jpg 1x, ./images/portfolio/bank@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/bank.jpg 1x, ./images/portfolio/portfolio-table/bank@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/bank.jpg 1x, ./images/portfolio/portfolio-mobile/bank@2x.jpg 2x">
                                <img src="./images/portfolio/banking.jpg" alt="Banking App Photo" width="360" height="300">
                            </picture>
                            
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                                <h3 class="portfolio-name">Banking App</h3>
                                <p class="portfolio-type">App</p>
                        </div>    

                    </li>

                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/cashless.jpg 1x, ./images/portfolio/cash@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/cash.jpg 1x, ./images/portfolio/portfolio-table/cash@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/cash.jpg 1x, ./images/portfolio/portfolio-mobile/cash@2x.jpg 2x">
                                <img src="./images/portfolio/cashless.jpg" alt="Cashless Payment Photo" width="360" height="300">
                            </picture>
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                            <h3 class="portfolio-name">Cashless Payment</h3>
                            <p class="portfolio-type">Marketing</p>
                        </div>
                    </li>
                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/meditation.jpg 1x, ./images/portfolio/medi@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/medi.jpg 1x, ./images/portfolio/portfolio-table/medi@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/medi.jpg 1x, ./images/portfolio/portfolio-mobile/medi@2x.jpg 2x">
                                <img src="./images/portfolio/meditation.jpg" alt="Meditation App Photo" width="360" height="300">
                            </picture>
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                            <h3 class="portfolio-name">Meditation App</h3>
                            <p class="portfolio-type">App</p>
                        </div>
                    </li>        
        
                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/taxi.jpg 1x, ./images/portfolio/taxi@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/taxi.jpg 1x, ./images/portfolio/portfolio-table/taxi@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/taxi.jpg 1x, ./images/portfolio/portfolio-mobile/taxi@2x.jpg 2x">
                                <img src="./images/portfolio/taxi.jpg" alt="Taxi Service Photo" width="360" height="300">
                            </picture>
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                            <h3 class="portfolio-name">Taxi Service</h3>
                            <p class="portfolio-type">Marketing</p>
                        </div>
                    </li>
                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/screen.jpg 1x, ./images/portfolio/scrn@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/scrn.jpg 1x, ./images/portfolio/portfolio-table/scrn@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/scrn.jpg 1x, ./images/portfolio/portfolio-mobile/scrn@2x.jpg 2x">
                                <img src="./images/portfolio/screen.jpg" alt="Screen Illustrations Photo" width="360" height="300">
                            </picture>
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                            <h3 class="portfolio-name">Screen Illustrations</h3>
                            <p class="portfolio-type">Design</p>
                        </div>
                    </li>
                    <li class="portfolio-li">
                        <div class="portfolio-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="./images/portfolio/courses.jpg 1x, ./images/portfolio/crss@2x.jpg 2x">
                                <source media="(min-width: 768px)" 
                                srcset="./images/portfolio/portfolio-table/crss.jpg 1x, ./images/portfolio/portfolio-table/crss@2x.jpg 2x">
                                <source media="(max-width: 767px)" 
                                srcset="./images/portfolio/portfolio-mobile/crss.jpg 1x, ./images/portfolio/portfolio-mobile/crss@2x.jpg 2x">
                                <img src="./images/portfolio/courses.jpg" alt="Online Courses Photo" width="360" height="300">
                            </picture>
                            <p class="portfolio-text-overlay">
                                14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App
                            </p>                      
                        </div>
                        <div class="portfolio-text">
                            <h3 class="portfolio-name">Online Courses</h3>
                            <p class="portfolio-type">Marketing</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
