@media screen and (min-width:320px){
  .aboutus-picture{
    max-width:335px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    min-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus-paragraf{
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    font-family: "Gilroy", sans-serif;
  }

  .aboutus-paragraf:not(:last-child){
    margin-bottom: 20px;
  }


  .aboutus-content{
    background-color: #F3F3F3;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .aboutus-title{
    margin-bottom: 28px;

  }

  .aboutus-button-div{
    margin-top: 40px;
  }
  
  
}

@media screen and (min-width:767px){
  .aboutus-picture{
    max-width:768px;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutus-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap:40px;
      min-width: 320px;
      padding-left: 32px;
      padding-right: 32px;
      margin-left: auto;
      margin-right: auto;
  }

  .aboutus-title{
    font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 92%;
  letter-spacing: -0.02em;
  }

  .aboutus-paragraf{
    font-size: 16px;
    line-height: 125%;
  }
  .aboutus-content{
    background-color: #F3F3F3;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}



.aboutus-button{
  opacity: 0px;
  background-color: #4D5AE5;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 160px;
  height: 48px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:1279px){
  .aboutus-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap:40px;
      min-width: 320px;
      padding-left: 32px;
      padding-right: 32px;
      margin-left: auto;
      margin-right: auto;
  }
  .aboutus-picture{
    width: 530px;
    margin:0;
  }
  .aboutus-content{
    max-width: 580px;
  }

  .aboutus-title{
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
  }
  
  .aboutus-paragraf{
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
  }
}