.hero {
    background-color: #2E2F42;
    background-position: center;
    background-size: cover;
    /* ---HW3---*/
    padding-top: 72px;
    padding-bottom: 72px;
    /*-- HW4 --*/
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/hero/dark-bg-mobile.jpg");
    background-repeat: no-repeat;
    /*background-size: 1440px;*/
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/dark-bg-mobile@2x.jpg');
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        /*min-height: 432px;*/
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/dark-bg-table.jpg');
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/dark-bg-table@2x.jpg');
    }
}


@media only screen and (min-width: 1158px) {
    .hero {
        max-width: 1158px;
        /*min-height: 765px;*/
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url('../images/hero/people-office.jpg');
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/hero/people-office@2x.jpg");
    }
}

.hero .container {

    flex-direction: column;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    /* ---HW3---*/
    max-width: 216px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 72px;
}

.button {

    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    /* ---HW3---*/
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    border-radius: 4px;
    padding: 16px 32px;
    border: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.vision-icon {
    display: none;
}

.vision-ul-list {
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
}

.vision-name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.vision-text {
    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {

    .hero {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero-title {
        font-size: 56px;
        line-height: 107%;
        /* ---HW3---*/
        max-width: 496px;
        margin-bottom: 36px;
    }

    .vision-name {
        text-align: left;
    }

    .vision-text {
        max-width: 356px;
        /*gap: 24px 72px;*/
    }

    .vision-ul-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media screen and (min-width: 1158px) {

    .hero {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero-title {
        line-height: 1.07;
        margin-bottom: 48px;
    }

    .vision-ul-list {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .vision-icon {
        display: block;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .vision-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .vision-text {
        max-width: 264px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}