.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), ;
}

.mobile-menu-conteiner {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.mobile-menu-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    fill: #2e2f42;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mobile-menu-item-link.current {
    color: #404bbf;
}

.mobile-menu-address {
    font-style: normal;
    margin-bottom: 48px;
}

.mobile-menu-address-ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;

}

.mobile-menu-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-link.mail {
    color: #4d5ae5;
}

.mobile-menu-social-links {
    display: flex;
    gap: 40px;
    flex-shrink: 0;
    align-self: center;
    justify-content: center;

}

.mobile-menu-social-links .menu-social-link {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #FFFFFF;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-social-links .menu-social-link:hover,
.mobile-menu-social-links .menu-social-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);

    /* Full position background */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 999;

    /* For hiden ModalForm */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 16px;
    width: 288px;
    /*padding: 24px;*/
    padding-top: 24px;
    /* main Technic for Modal window */
    /*width: 408px;*/
    min-height: 584px;
    overflow-y: auto;
    /* ============================= */
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    cursor: pointer;

    /*border: none;*/
    fill: #2e2f42;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icon_close,
.modal-close:focus .icon_close {
    fill: #fff;
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.title-modal {
    /*position: fixed;*/
    /*margin-left: 24px;
    margin-right: 24px;*/
    margin-top: 48px;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.form-sub-filds {
    /*margin-top: 16px;
    /*margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;*/

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    /*gap: 8px;*/
    border-radius: 4px;
}

.input-value {
    margin-bottom: 8px;
}

.form-comment {
    margin-bottom: 16px;
}

.form-input {
    position: relative;
}

.sel_icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-lab {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-val {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    /*outline: none;*/
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp-comment {
    width: 100%;
    resize: none;
    min-height: 120px;
    outline: none;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
}

.inp-comment:active,
.inp-comment:focus {
    border: 1px solid #4d5ae5;
}

.inp-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

}

.input-val:active,
.input-val:focus {
    border: 1px solid #4d5ae5;
}

.input-val:focus+.sel_icon,
.input-val:active+.sel_icon {
    fill: #4d5ae5;
}

.purpur {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.castum-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    /* HW6 */

    flex-shrink: 0;
}


.input-checkbox:checked+.form-checkbox .castum-checkbox {
    background-color: #404bbf;
    /*border: 1px solid #404bbf;*/
    fill: #f4f4fd;
    border: none;
}

.form-checkbox {

    /* HW6 */
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.check-box {
    margin-bottom: 24px;
}

.button-send {
    display: block;
    margin-left: auto;
    margin-right: auto;

    cursor: pointer;

    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;

    border: none;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {

    .modal {
        padding: 24px;
        /* main Technic for Modal window */
        width: 408px;
    }

}