.team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding: 96px 0;
}

.container-team {
  flex-wrap: wrap;
  justify-content: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 72px;
}

.team-item {
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
  margin-bottom: 72px;
}

.team-person {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2E2F42;
}

.team-special {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  /*margin-bottom: 8px;*/
}


.team-person .team-social-links {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: center;
  justify-content: center;
}

.team-social-links .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-person .team-social-links .social-link:hover,
.team-person .team-social-links .social-link:focus {
  background-color: #404bbf;
}

.team-social-links .social-icon {
  fill: #F4F4FD;
}


@media screen and (min-width: 768px) {
  .container-team {
    flex-direction: column;
  }

  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {

  .team {
    padding: 120px 0;
  }
}